main.background {
  position:absolute;
  top:0; bottom: 0; left:0; width:70%;
  overflow:auto;
  box-shadow:inset 0 0 0 1px blue; 
}

main.background.depth1 {
  background: url("sprites/bgs/bg1.png") no-repeat center / cover;
}

main.background.depth2 {
  background: url("sprites/bgs/bg2.png") no-repeat center / cover;
}

main.background.biome3 {
  background: url("sprites/bgs/bg3.png") no-repeat center / cover;
}

main.background.biome4 {
  background: url("sprites/bgs/bg4.png") no-repeat center / cover;
}

main.background.biome5 {
  background: url("sprites/bgs/bg5.png") no-repeat center / cover;
}

main.background.biome6 {
  background: url("sprites/enemies/HUH.png") no-repeat center / cover;
}

#sub {
  display: flex;
  height: 1vh;
  justify-content: center;
  align-items: center;
}

#sub img {
  position: absolute;
  top: 25%;
  height: 50vmin;
  max-widith: 100%;
}

#sub img.left {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

#sub img.right {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#sub img.battle {
  height: 30vmin;
  top: 40%;
  left: 45%;
}

#enemy img.anchovy {
  position: absolute;
  height: 15vmin;
  top: 20%;
  left: 10%;
}

#enemy img.squid {
  position: absolute;
  height: 50vmin;
  top: 15%;
  left: 10%;
}

#enemy img.shark {
  position: absolute;
  height: 50vmin;
  top: 15%;
  left: 10%;
}

#enemy img.brandon {
  position: absolute;
  height: 50vmin;
  top: 15%;
  left: 10%;
}

aside.stats {
  position:absolute;
  top:0; bottom:0; left:70%; width:30%;
  margin: 0 auto;
  overflow: scroll;
  box-shadow:inset 0 0 0 1px seagreen;
  text-align: center;
  background-color: darkslategray;
}

h2 {
  top:5%;
  font: 7vmin Andale Mono, monospace;
  color: white;
  font-weight: bold;
  text-align: center;
}

ul.statlist {
  position: relative;
  list-style: none;
  text-align: center;
  padding: 0;
  /*overflow: hidden;*/
}

li.stat {
  font: 5vmin Andale Mono, monospace;
  color: white;
  line-height: 50%
}

h5 {
  font: 4vmin Andale Mono, monospace;
  color: white;
}

h3 {
  font: 4vmin Andale Mono, monospace;
  color: white;
}

h6 {
  font: 2vmin Andale Mono, monospace;
  color: white;
  line-height: 10%;
}

#options {
  background-color: black;
  position: absolute;
  width: 100%;
  bottom: 1vmin;
  display: grid;
  grid-template-columns: 24% 24% 24% 24%;
  grid-template-rows: 50% 50%;
  justify-content: space-between;
  gap: 1vmin;
}

button.option-btn {
  background-color: palegreen;
  border-color: limegreen;
  border-style: solid;
  border-width: medium;
  color: black;
  font-size: 4vmin;
  width: 100%;
  height: 10vmin;
}

button.option-btn:hover {
  background-color: springgreen
}

button.option-btn:active {
  background-color: limegreen;
}

#directionInput {
  height: 50%;
  width: 50%;
  display: grid;
  background-color: springgreen;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 30% 30% 30%;
  gap: 4%;
  padding: 1.8% 0 1% 1.2%;
  justify-content: space-evenly;
  align-items: space-evenly;
  position: absolute;
  left: 25%;
  top: 20%;
}

button.dirBtn {
  width: 90%;
  height: 100%;
  text-align: center;
  font-size: 10vmin;
}

input {
  background-color: palegreen;
  border-style: none none none solid;
  border-color: limegreen;
  border-width: thick;
  font-size: 4vmin;
  padding: 1%;
}

#send, #submitSpeed {
  background-color: palegreen;
  border-color: limegreen;
  border-width: medium;
  font-size: 4vmin;
  border-style: solid;
  padding: 1%;
}

#inventory {
  padding: 1% .5% .2% .5%;
  height: 65%;
  width: 75%;
  display: grid;
  gap: 3px;
  grid-template-columns: 19% 19% 19% 19% 19%;
  /*set to auto auto auto when adding square images*/
  grid-template-rows: 32% 32% 32%;
  justify-content: space-evenly;
  align-items: space-evenly;
  background-color: darkslategray;
  position: absolute;
  left: 12%;
  top: 10%;
}

.inv-item {
  background-color: slategray;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.inv-item img {
  display: block;
  max-width: auto;
  max-height: 90%;
}

.tooltip {
  visibility: hidden;
  width: 5hmin;
  background-color: darkslategray;
  font: 4vmin Andale Mono, monospace;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 1%;
  position: absolute;
  z-index: 1;

  bottom: 100%;
  left: 50%;
  margin-left: -2hmin;
}

.inv-item:hover .tooltip {
  visibility: visible;
  left: 0;
  right: 0;
  text-align: center;
}

.itemAmt {
  height: 100%;
  width: 100%;
  color: white;
  font: 4vmin Andale Mono, monospace;
  align-self: center;
  position: absolute;

  display: flex;
  justify-content: end;
  align-items: flex-end;
  text-align: center;
}

.itemAmt span {
  background-color: darkblue;
  text-align: center;
  padding: 2%;
  width: 15%;
}

#death-screen {
  width: 100%;
  height: 100%;
  height: 20vmin;
  background-color: red;
  position: absolute;
  top: 50%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: death 4s forwards;
}

#death-screen span {
  font-size: 12vmin;
  font-family: "Garamond", serif;
}

@keyframes death {
  0% {
    background-color: red;
    color: black;
    opacity: 0;
    height: 20vmin;
    top: 40%;
  }

  30% {
    opacity: 1;
    background-color: red;
    color: black;
    height: 20vmin;
    top: 40%;
  }
  
  100% {
    opacity: 1;
    background-color: darkred;
    color: white;
    height: 100%;
    top: 0%;
  }
}